/************************************************

Stylesheet: Navigation Stylesheet

*************************************************/
header.header{
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    @include breakpoint (small down) {
        background-color: $color1;
    }
    &.sticky,&.default{
        background-color: $color1;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        .main-menu .top-bar-left .menu a svg g.cls-1, .main-menu .top-bar-left .menu a svg g#OLIVER_BELL_ICON{
            fill:$color4 !important;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -ms-transition: all 0.3s ease 0s;
        }
        .main-menu .top-bar-left .menu a:hover{
            svg g.cls-1, svg g#OLIVER_BELL_ICON{
                fill:$color6 !important;
            }
        }
        .main-menu #menu-main-menu li a{
            color: $color4;
            &:hover{
                color: $color6;
                @include breakpoint (small down) {
                    color: $white;
                }
            }
        }
        .main-menu #menu-main-menu li.current-menu-item a{
            color: $color6;
            &:hover{
                @include breakpoint (small down) {
                    color: $white;
                    background-color: $color6;
                }
            }
        }
        .is-dropdown-submenu>li{
            background: $color1;
            color: $color4;
        }
        .main-menu #menu-main-menu li .submenu{
            top:rem-calc(76);
            @include breakpoint (small down) {
                top: 0 !important;
            }
        }
        .main-menu #menu-main-menu li .submenu li a, .main-menu #menu-main-menu li .submenu li a:hover{
            border-top: 0;
        }
        .main-menu #menu-main-menu li .submenu li a:hover{
            @include breakpoint (small down) {
                background:$color6;
            }
        }
    }
}
.main-menu{
    .logo-container{
        @media screen and (min-width: 768px) and (max-width:59.375em){
            width: 100%;
        }
    }
    .navigation-container{
        @media screen and (min-width: 768px) and (max-width:59.375em){
            width: 100%;
            margin-top: rem-calc(-80);
            .top-bar-right{
                float: none;
            }
            .top-menu{
                position: relative;
                top: rem-calc(-60);
            }
            #menu-main-menu{
                margin:0 auto;
            }
        }
        @include breakpoint (small down) {
            padding:0;
        }
    }
    .mobile-menu-button{
        @include breakpoint (small down) {
            display: block;
            padding-right: 1rem;
            position: relative;
            top:rem-calc(-23.31);
        }
        @media only screen and (max-width: 22.000rem){
            padding-right: .5rem;
        }
    }
    .menu-icon{
        outline:0;
        width:auto;
        height:auto;
        padding-right: 25px;
        font-size: rem-calc(18);
        margin-left: auto;
        display: none;
        color: $color4;
        font-weight: 700;
        font-family: $font;
        &:hover{
            color: $color6;
        }
        @include breakpoint (small down) {
            display: block;
        }
        &:after{
            width: 20px;
            right: 0;
            top: 2px;
            left: inherit;
            box-shadow: 0 6px 0 $color4, 0 12px 0 $color4;
            -moz-box-shadow: 0 6px 0 $color4, 0 12px 0 $color4;
            -ms-box-shadow: 0 6px 0 $color4, 0 12px 0 $color4;
            -webkit-box-shadow: 0 6px 0 $color4, 0 12px 0 $color4;
            -o-box-shadow: 0 6px 0 $color4, 0 12px 0 $color4;
            background-color: $color4;
        }
        &:hover{
            &:after{
                box-shadow:0 6px 0 $color6, 0 12px 0 $color6;
                -moz-box-shadow:0 6px 0 $color6, 0 12px 0 $color6;
                -ms-box-shadow:0 6px 0 $color6, 0 12px 0 $color6;
                -webkit-box-shadow:0 6px 0 $color6, 0 12px 0 $color6;
                -o-box-shadow:0 6px 0 $color6, 0 12px 0 $color6;
                background-color: $color6;
            }
        }
        &.active-menu{
            color: $color6;
            &:after{
                color: $color6;
                content:'\d7';
                box-shadow: none;
                background-color: transparent;
                height: auto;
                font-size: rem-calc(30);
                top: -.460rem;
            }
        }
    }
    #menu-main-menu{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        opacity: 1;
        @media screen and (min-width: 768px){
            display: flex !important;
            display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex;
        }
        @include breakpoint (small down) {
            display: none;
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -o-transform: translateY(0px);
        }
        li{
            a{
                background-color: transparent;
                border-bottom:3px solid transparent;
                font-family: $font;
                font-size:rem-calc(17);
                line-height:1;
                font-weight: 700;
                color: $white;
                padding:1rem;
                text-decoration: none;
                @media only screen and (max-width:60.938rem){
                    font-size:rem-calc(16);
                }
                @include breakpoint (small down) {
                    padding:1rem;
                    border-bottom: 0;
                    font-size:rem-calc(17);
                    color: $color4;
                }
            }
            a:hover{
                color: $color6;
                border-bottom:3px solid transparent;
                text-decoration: none;
                @include breakpoint (small down) {
                    border-bottom: 0;
                    background-color: $color6;
                    color: $white;
                }
            }
            a.sf-with-ul{
                padding-right: 1rem;
            }
            a.sf-with-ul:after{
                display: none;
                @include breakpoint (small down) {
                    display: block;
                }
            }
            &.current-menu-item a{
                color: $color6;
                font-weight: bold;
                @include breakpoint (small down) {
                    color: $color6;
                    background-color: transparent;
                    border-bottom: none;
                }
                &:hover{
                    @include breakpoint (small down) {
                        color: $white;
                        background-color: $color6;
                    }
                }
            }
            &.menu-item-has-children a{
                padding-right: 1rem;
                &:after{
                    display: none;
                    @include breakpoint (small down) {
                        display: block;
                    }
                }
            }
            &.is-dropdown-submenu-parent.is-active a.sf-with-ul{
                color: $color6;
            }
            .submenu{
                border-top: 0;
                position: absolute;
                margin: auto;
                bottom: 0;
                top: 100%;
                left: 50%;
                right:initial;
                transform: translate(-50%, 0);
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                z-index: -1;
                background-color:transparent;
                border:0;
                @include breakpoint (small down) {
                    z-index: 1;
                    position: relative;
                    display: none;
                    top: 0;
                }
                li{
                    a{
                        padding:1rem;
                        border-bottom: 0;
                        // background-color: $light-gray;
                        background-color: transparent;
                        color: $white;
                        font-size: rem-calc(16);
                        transition:none;
                        -webkit-transition:none;
                        -moz-transition:none;
                        -o-transition:none;
                        -ms-transition:none;
                        border-top:1px solid $white;
                        @include breakpoint (small down) {
                            color: $color4;
                            border-top: 0;
                        }
                    }
                    a:hover{
                        background-color: transparent;
                        border-top:1px solid $white;
                        color: $color6;
                        transition:none;
                        -webkit-transition:none;
                        -moz-transition:none;
                        -o-transition:none;
                        -ms-transition:none;
                        @include breakpoint (small down) {
                            border-top: 0;
                            color:$white;
                            background:$color6;
                        }
                    }
                    &.current-menu-item a{
                        color: $color6;
                        @include breakpoint (small down) {
                            &:hover{
                                color: $white;
                                background-color: $color6;
                            }
                        }
                    }
                }
            }
        }
    }
    .top-bar-right{
        display: flex;
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        height: 100px;
        float: right;
        @include breakpoint (small down) {
            width: 100%;
            display: block;
            float: none;
            height: auto;
        }
        .top-menu{
            padding-top:1.35rem;
            padding-bottom:rem-calc(10);
            padding-right: 1rem;
            @include breakpoint (small down) {
                position: absolute;
                top: 0;
                right: 0;
            }
            @media only screen and (max-width: 22.000rem){
                padding-right: .5rem;
            }
            h1{
                visibility: hidden;
                text-indent: -9999px;
                margin:0;
                height:0;
            }
            span{
                display: block;
                text-align: right;
                font-family: $font;
                font-weight: 700;
                font-style: italic;
                font-size: rem-calc(14);
                letter-spacing:rem-calc(.5);
                color: $color6;
            }
            a{
                font-family: $font;
                font-weight: 700;
                font-style: normal;
                font-size: rem-calc(17);
                letter-spacing:rem-calc(.5);
                color: $color6;
                position: relative;
                top: rem-calc(-2);
                text-decoration: none;
                @media only screen and (max-width:25.000em){
                    font-size: rem-calc(15);
                }
            }
        }
    }
    .top-bar-left{
        .menu{
            a{
                padding:0;
                display: flex;
                display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                display: -ms-flexbox;  /* TWEENER - IE 10 */
                display: -webkit-flex;
                -ms-flex-pack: center;
                justify-content: center;
                -ms-flex-direction: column;
                flex-direction: column;
                text-align: center;
                height: rem-calc(100);
                z-index: 1;
                position: relative;
                max-width: 100%;
                transition: all 0.5s ease 0s;
                -webkit-transition: all 0.5s ease 0s;
                -moz-transition: all 0.5s ease 0s;
                -ms-transition: all 0.5s ease 0s;
                svg{
                    width: 100%;
                    height: rem-calc(70);
                    g{
                        fill:$white;
                        transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -ms-transition: all 0.3s ease;
                        @include breakpoint (small down) {
                            fill: $color4;
                        }
                    }
                }
                @include breakpoint (small down) {
                    height: rem-calc(110);
                    padding-top: rem-calc(18)
                }
                &:hover{
                    svg g{
                        fill:$color6;
                    }
                }
            }
            img{
                width: 100%;
                max-width: rem-calc(300);
                @include breakpoint (small down) {
                    max-width:16rem;
                    position: relative;
                    left: -.5rem;
                }
                @media only screen and (max-width: 25.000rem){
                    max-width: rem-calc(220);
                }
                @media only screen and (max-width: 22.000rem){
                    left: -.75rem;
                }
            }
        }
    }
}
.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after{
    content: "\e907";
    font-family: 'icomoon' !important;
    border:0;
    margin-top: rem-calc(-9);
    right: rem-calc(37);
    font-size:rem-calc(14);
}
.accordion-menu .is-accordion-submenu-parent[aria-expanded=true]>a:after{
    content: "\e908";
    transform: rotate(0);
    transform-origin: 0;
}
