/************************************************

Stylesheet: Typography Stylesheet

*************************************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$font: 'Montserrat', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5ar4n4');
  src:  url('../fonts/icomoon.eot?5ar4n4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5ar4n4') format('truetype'),
    url('../fonts/icomoon.woff?5ar4n4') format('woff'),
    url('../fonts/icomoon.svg?5ar4n4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: #173258;
}
.icon-instagram:before {
  content: "\e901";
  color: #173258;
}
.icon-linkedin:before {
  content: "\e902";
  color: #173258;
}
.icon-minus:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}

a{
    color: $color4;
    text-decoration: underline;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    &:hover,&:focus{
        color: $color6;
        text-decoration: underline;
    }
    &:visited{
        color: $color4;
    }
}

.button,input[type=submit]{
    position: relative;
    background: $color6;
    color: $white;
    font-family: $font;
    font-weight: 500;
    font-size:rem-calc(18);
    line-height:1;
    text-align: center;
    border-radius: rem-calc(100);
    -webkit-border-radius: rem-calc(100);
    -moz-border-radius: rem-calc(100);
    -ms-border-radius: rem-calc(100);
    padding:rem-calc(15) rem-calc(40);
    margin:0;
    text-decoration: none;
    min-width: rem-calc(211);
    border:2px solid $color6;
    &:hover{
        background:transparent;
        border:0;
        text-decoration: none;
        color:$color6;
        border:2px solid $color6;
    }
    &:focus{
        background:transparent;
        border:0;
        text-decoration: none;
        color:$color6;
        border:2px solid $color6;
    }
    &:active{
        background:$color6;
        border:0;
        text-decoration: none;
        color:$white;
        border:2px solid $color6;
    }
    &:visited{
        color: $white;
        background:$color6;
        border:2px solid $color6;
        text-decoration: none;
        &:hover{
            color: $color6;
        }
    }
    @include breakpoint (small down) {
        padding:rem-calc(16) rem-calc(21) rem-calc(18) rem-calc(21);
    }
}

.btn-center{
    text-align: center;
    margin:rem-calc(48) auto 0 auto;
}

h1{
    font-family: $font;
    font-size: rem-calc(42);
    line-height:rem-calc(48);
    font-weight: 700;
    letter-spacing: rem-calc(.5);
    margin-bottom: 2rem;
    color: $color4;
    @include breakpoint (medium down) {
        font-size: rem-calc(38);
        line-height: rem-calc(44);
        margin-bottom: 1.5rem;
    }
    @include breakpoint (small down) {
        font-size: rem-calc(34);
        line-height: rem-calc(40);
    }
}

h2,h3,h4,h5,h6{
    font-family: $font;
    letter-spacing: rem-calc(.5);
    color: $color4;
    font-weight: 700;
}

p,span,li{
    font-family: $font;
    color: $color4;
    font-weight: 400;
}

blockquote{
    font-family: $font;
    color: $color4;
    font-weight: 400;
    border-left: rem-calc(1) solid $color4;
    p{
        font-family: $font;
        color: $color4;
        font-weight: 400;
    }
}

hr{
    border-bottom: rem-calc(1) solid $grey;
}
