/************************************************

Stylesheet: Variables Stylesheet

*************************************************/

$blue:#183258;
$dark-blue:#1a2e51;
$green:#225e2f;
$black:#000000;
$off-black:#232020;
$white:#ffffff;
$off-white:#f7fbf4;
$grey:#e5e5e5;
$padding:2.5rem 0;
$paddingBG:5rem 0;
$marginBottom:1.5rem;
$columnPadding:0 1.5rem;


$color1:#F6F9FD; // Background - GHOST WHITE
$color2:#91B7DC; // Blue Grey Dark - DARK SKY BLUE
$color3:#E6EFFA; // Blue Grey Light - GLITTER
$color4:#677897; // Font Color 1 - RHYTHM
$color5:#B0B9CA; // Font Color 2 - PASTEL BLUE
$color6:#102397; // Button Color - INDIGO DYE
$color7:#4B576D; // Body Color - INDEPENDENCE
$gradient1: linear-gradient(-45deg, #000428 0%, #0e2958 55%, #004e92 100%);
$gradient2: linear-gradient(-45deg, #102397 0%, #187ADF 55%, #00EAF8 100%);
$boxshadow1: 13px 15px 45px 0 rgba(23,128,224,0.27), inset 0 1px 3px 0 rgba(0,0,0,0.50);
$boxshadow2: 0 15px 30px 0 rgba(0,0,0,0.49);
